extends layout
block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Loc8r was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe incidunt eligendi ab vitae amet molestiae ut modi debitis, deleniti a ipsum, tenetur nam, possimus atque iure cumque necessitatibus voluptate iusto.Quaerat ut facere commodi, voluptatibus suscipit eius dicta itaque, praesentium nobis delectus, fugiat natus iusto magni omnis ullam repellat tempora. Incidunt necessitatibus nam laudantium voluptas possimus ex fuga molestiae quo!
        | <br /> <br />
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, animi distinctio assumenda odit est non, ipsum quaerat alias adipisci corrupti minus cupiditate asperiores neque. Voluptas fuga asperiores aliquam quam vero.Commodi, consectetur natus cum similique aperiam sapiente eveniet, quam amet ad, inventore vel corporis quidem. Neque natus quos aspernatur maiores ut provident, hic explicabo! Atque optio doloremque repellendus deleniti corrupti?

