doctype html
html
  head
    meta(name='viewport', content='width=device-width initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/Bootstrap/amelia-master/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
